
<div *ngIf="eventsBreadcrumbResult" class="mb-3">
  <a [routerLink]="EventsPage">All Events</a> >
  <a [routerLink]="[EventsStatePage, eventsBreadcrumbResult.locationInfoWithUrl.stateUrl]">{{eventsBreadcrumbResult.locationInfoWithUrl.state}}</a> >
  <a [routerLink]="[EventsAreaPage, eventsBreadcrumbResult.locationInfoWithUrl.areaUrl]">{{eventsBreadcrumbResult.locationInfoWithUrl.area}}</a> >
  <a [routerLink]="[EventsCityPage, eventsBreadcrumbResult.locationInfoWithUrl.cityUrl]">{{eventsBreadcrumbResult.locationInfoWithUrl.city}}</a> >
  <a [routerLink]="[RaceSeriesDashboardPage, eventsBreadcrumbResult.raceSeriesDisplayWithId.id]">{{eventsBreadcrumbResult.raceSeriesDisplayWithId.displayName}}</a> >
  <a [routerLink]="[RaceLeaderboardPage, eventsBreadcrumbResult.raceDisplayWithId.id]">{{eventsBreadcrumbResult.raceDisplayWithId.displayName}}</a> >
  <a [routerLink]="[CourseLeaderboardPage, eventsBreadcrumbResult.courseDisplayWithId.id]">{{eventsBreadcrumbResult.courseDisplayWithId.displayName}}</a> >
  Compare Results
</div>

<hr />

<ng-container *ngIf="dataLoaded">

  <div class="row">
    <div class="col-sm" *ngFor="let athleteInfo of athleteInfoDtos">

      <div style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;" class="font-24 font-weight-bold">{{athleteInfo.fullName}}</div>
      <div style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;" class="font-18">{{athleteInfo.city}}, {{athleteInfo.state}}</div>
      <div class="font-12">{{athleteInfo.genderAbbreviated}} | {{athleteInfo.raceAge}}</div>

      <hr />

      <div *ngIf="athleteInfo.finishInfo">
        <div>{{athleteInfo.finishInfo.finishTime}}</div>
        <div>
        <span class="font-20 font-weight-bold">{{athleteInfo.finishInfo.paceWithTimeCumulative.timeFormatted}}</span>
          <ng-container *ngIf="athleteInfo.finishInfo.paceWithTimeCumulative.hasPace">
            ({{athleteInfo.finishInfo.paceWithTimeCumulative.paceValue}} {{athleteInfo.finishInfo.paceWithTimeCumulative.paceLabel}})
          </ng-container>
        </div>
      </div>

      <div *ngIf="!athleteInfo.finishInfo">
        --
      </div>

      <div>
        <a [routerLink]="[IndividualResultPage, athleteInfo.athleteCourseId]" title="view result" class="badge badge-info">
          <ng-container *ngIf="athleteInfo.compareIrpsRank === 0"><i class="fa fa-trophy mr-1" aria-hidden="true"></i>Best Result</ng-container>
          <ng-container *ngIf="athleteInfo.compareIrpsRank === 1">2nd Best Result</ng-container>
          <ng-container *ngIf="athleteInfo.compareIrpsRank === 2">3rd Best Result</ng-container>
          <ng-container *ngIf="athleteInfo.compareIrpsRank === 3">4rth Best Result</ng-container>
        </a>
      </div>

    </div>
  </div>

  <div class="row mb-4">
    <div class="col-sm" *ngFor="let athleteInfo of athleteInfoDtos">
      <table class="table">
        <thead>
          <tr>
            <th style="width: 81%" class="text-left" scope="col"></th>
            <th title="Overall" style="width: 7%" scope="col">O</th>
            <th title="Gender" style="width: 7%" scope="col">G</th>
            <th title="Division" style="width: 7%" scope="col">D</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let result of athleteInfo.compareIrpsIntervalDtos">
            <td class="text-left py-2">
              <div class="font-18 font-weight-bold">{{result.intervalName}}</div>
              <div class="primary-color font-weight-bold">{{result.crossingTime ? result.crossingTime : "--"}}</div>
              <div *ngIf="result.paceWithTime">
                <span class="font-12 font-weight-bold"><strong>{{result.paceWithTime.timeFormatted}}</strong></span>
                <span style="font-size: 12px;" *ngIf="result.paceWithTime.hasPace">
                  ({{result.paceWithTime.paceValue}} {{result.paceWithTime.paceLabel}})
                </span>
              </div>
              <div *ngIf="!result.paceWithTime">
                --
              </div>
            </td>

            <td class="py-1">{{result.overallRank ? result.overallRank : '--'}}</td>
            <td class="py-1">{{result.genderRank ? result.genderRank : '--'}}</td>
            <td class="py-1">{{result.primaryDivisionRank ? result.primaryDivisionRank : '--'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</ng-container>
