
<div *ngIf="eventsBreadcrumbResult$ | async as eventsBreadcrumbResult" class="mb-3">
  <app-events-bread-crumb [breadcrumbResult]="eventsBreadcrumbResult" [breadcrumbLocation]="breadcrumbLocation"></app-events-bread-crumb>
</div>

<hr />

<div class="row" *ngIf="courseLeaderboard$ | async as courseLeaderboard">

  <div class="col-lg-2">
    <div>
      <img width="120px" height="120px" [src]="courseLeaderboard.raceSeriesImageUrl">
    </div>
    <div class="mt-4 font-24 font-weight-bold">{{courseLeaderboard.raceName}}</div>
    <div class="font-18 primary-color font-weight-bold">{{courseLeaderboard.courseName}}</div>
    <div class="font-14">
      <div>{{courseLeaderboard.locationInfoWithRank.city}}, {{courseLeaderboard.locationInfoWithRank.state}}</div>
      <div>Distance: {{courseLeaderboard.courseDistance}}</div>
      <div>{{courseLeaderboard.courseDate}} at <strong>{{courseLeaderboard.courseTime}}</strong></div>
    </div>

    <hr />
    <app-location-info-rankings [locationInfoWithRank]="courseLeaderboard.locationInfoWithRank" [useEventsNavigation]="false"></app-location-info-rankings>

    <hr />
    <div class="font-12 font-italic font-weight-bold">- "{{courseLeaderboard.raceSeriesDescription}}"</div>
    <div class="mt-4">
      <a class="btn btn-outline-secondary" target="_blank" [routerLink]="[AwardsPodiumPage, courseId]">Awards Podium</a>
    </div>
  </div>
  <div class="col-lg-10">

    <div class="row">
      <div class="col-7">
      </div>
      <div class="col-5">
        <app-irps-search [courseId]="courseId"></app-irps-search>
      </div>
    </div>

    <div class="my-5" *ngFor="let leaderboard of courseLeaderboard.leaderboards">
      <div class="font-24 primary-color font-weight-bold">{{leaderboard.intervalName}}</div>
      <ng-container *ngTemplateOutlet="resultsTableTemplate;context:{leaderboard:leaderboard}" ></ng-container>
    </div>

  </div>

</div>

@if (showToast) {
  <div style="z-index: 1200;" class="position-fixed top-0 end-0 p-3 mt-4">
    <ngb-toast header="Compare {{ athleteCourseIdsToCompare.length }} results" [autohide]="false" (hidden)="showToast = false">
      <a [routerLink]="[IndividualResultComparePage, courseId]" [queryParams]="{athleteCourseIds: athleteCourseIdsToCompareString}" target="_blank">
        View
      </a>
      <a style="cursor: pointer;" class="ms-2" (click)="onCloseCompareCliecked()">Clear</a>
    </ngb-toast>
  </div>
}

<ng-template #resultsTableTemplate let-leaderboard="leaderboard">

  <table class="table">
    <thead>
      <tr>
        <th style="width: 5%"></th>
        <th style="width: 5%"></th>
        <th style="width: 10%">Bib</th>
        <th style="width: 20%">Name</th>
        <th style="width: 10%">Overall</th>
        <th style="width: 10%">Gender</th>
        <th style="width: 10%">Division</th>
        <th style="width: 15%">Time</th>
        <th style="width: 10%">Pace</th>
        <th style="width: 5%"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let irp of leaderboard.results">
        <td class="text-left"><a [routerLink]="[IndividualResultPage, irp.athleteCourseId]">View</a></td>
        <td>
          <i class="fa fa-plus-circle" title="view more" style="cursor: pointer;" (click)="onViewIrpClicked(irp.athleteCourseId)" ></i>
        </td>
        <td>
          <span class="font-20 badge text-bg-dark" title="bib">{{irp.bib}}</span>
        </td>
        <td>
          <div>
            <a class="font-weight-bold background-secondary" style="color: black;" [routerLink]="[AthletePage, irp.athleteId]">{{irp.fullName}}</a>
          </div>
          <div>{{irp.genderAbbreviated}} | {{irp.raceAge}}</div>
        </td>
        <td class="font-24 font-weight-bold text-secondary">{{irp.overallRank}}</td>
        <td class="font-24 font-weight-bold text-secondary">{{irp.genderRank}}</td>
        <td class="font-24 font-weight-bold text-secondary">{{irp.divisionRank}}</td>
        <td class="font-24 font-weight-bold">{{irp.paceWithTimeCumulative.timeFormatted}}</td>
        <td>
          <div class="font-24 font-weight-bold">{{irp.paceWithTimeCumulative.paceValue || '--'}}</div>
          {{irp.paceWithTimeCumulative.paceLabel}}
        </td>
        <td>
          <button type="button" (click)="compareIrpClicked(irp)" title="Compare Result" class="btn btn-outline-secondary btn-sm">
            <i class="fa fa-compress" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

</ng-template>
