
.searchResultsContainer {
  position: absolute;
  top: 38px;
  right: 5px;
  padding: 10px;
  z-index: 1;
  background-color: white;
  border: 1px solid black;
  width: 348px;
  overflow-y: scroll;
  max-height: 300px;
}

.buttonDropdownToggle {
  border-radius: 0;
  border: 0
}

.searchOnButton {
  min-width: 80px;
}