
<ng-container *ngIf="athleteSearchResultsChunked && athletesBreadcrumbResult && dashboardInfoResponseDto">

  <div class="mb-3">
    <app-athlete-bread-crumb [breadcrumbResult]="athletesBreadcrumbResult" [breadcrumbLocation]="breadcrumbLocation"></app-athlete-bread-crumb>
  </div>

  <hr />

  <div class="row mt-3">
    <div class="col-4">
      <app-quick-search [quickSearchType]="1" [breadcrumbLocation]="breadcrumbLocation" [title]="title"></app-quick-search>
    </div>
  </div>

  <div class="mt-5 row">
    <div class="col-3">
      <div class="font-18 font-weight-bold mb-3">Directory</div>

      <ng-container *ngIf="!isLanding">
        <app-smart-navigation [dashboardInfoResponseDto]="dashboardInfoResponseDto" [useEventsNavigation]="false"></app-smart-navigation>
      </ng-container>

      <ng-container *ngIf="isLanding">
        <app-smart-navigation-states [dashboardInfoResponseDto]="dashboardInfoResponseDto" [useEventsNavigation]="false"></app-smart-navigation-states>
      </ng-container>

    </div>
    <div class="col-9">
      <div class="mb-4" *ngFor="let athleteSearchResultsChunk of athleteSearchResultsChunked">
        <div class="row">
          <div class="col-3" *ngFor="let athleteSearchResult of athleteSearchResultsChunk">
            <div class="card">
              <athlete-search-result [athleteSearchResult]="athleteSearchResult"></athlete-search-result>
              <div class="mb-2 px-2 text-right">
                <i (click)="onCompareClicked(athleteSearchResult)" class="fa fa-compress" title="compare" style="cursor: pointer;"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr />

  @if (showToast) {
    <div style="z-index: 1200;" class="position-fixed top-0 end-0 p-3 mt-4">
      <ngb-toast header="Compare {{ athleteIdsToCompare.length }} athletes" [autohide]="false" (hidden)="showToast = false">
        <a [routerLink]="[AthleteComparePage]" [queryParams]="{athleteIds: athleteIdsToCompareString}" target="_blank">
          View
        </a>
      </ngb-toast>
    </div>
  }

</ng-container>
