
<div class="mb-3" *ngIf="athletesBreadcrumbResult">
  <app-athlete-bread-crumb [breadcrumbResult]="athletesBreadcrumbResult" [breadcrumbLocation]="breadcrumbLocation"></app-athlete-bread-crumb>
</div>

<div *ngIf="showSpinner" class="spinner-overlay">
  <div class="spinner"></div>
</div>

<hr />

<div class="row mt-3">
  <div class="col-lg-4">
    <app-quick-search [quickSearchType]="1" [breadcrumbLocation]="breadcrumbLocation" [title]="title"></app-quick-search>
  </div>
</div>

<div class="mt-5 row">

  <div class="col-lg-3" *ngIf="dashboardInfoResponseDto">
    <div class="font-18 font-weight-bold mb-3">Directory</div>
      @if (!isLanding) {
        <app-smart-navigation [dashboardInfoResponseDto]="dashboardInfoResponseDto" [useEventsNavigation]="false"></app-smart-navigation>
      } @else {
        <app-smart-navigation-states [dashboardInfoResponseDto]="dashboardInfoResponseDto" [useEventsNavigation]="false"></app-smart-navigation-states>
      }
  </div>

  <div class="col-lg-9">
    <div class="mb-4" *ngFor="let athletesChunk of athleteSearchResultsChunked">
      <div class="row">
        <div class="col-sm-3" *ngFor="let athlete of athletesChunk">
          <div class="card">

            <div class="px-4 py-2">
              <a [routerLink]="[AthletePage, athlete.id]">
                <img style="width: 100%; height: 90px;" src="/assets/img/Athlete.png">
              </a>
            </div>
            
            <div class="py-2 text-center secondary-background">
              <strong>{{athlete.fullName}}</strong>
            </div>
            
            <div class="mt-2 px-2">
              <app-location-info-rankings [locationInfoWithRank]="athlete.locationInfoWithRank" [useEventsNavigation]="false"></app-location-info-rankings>
              <div class="text-right">
                <i (click)="onViewArpClicked(athlete)" class="fa fa-plus-circle" title="view more" style="cursor: pointer;"></i>
              </div>
            </div>

            <div class="mb-2 px-2 text-right">
              <i (click)="onCompareClicked(athlete)" class="fa fa-compress" title="compare" style="cursor: pointer;"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

@if (showToast) {
  <div style="z-index: 40; background-color: white; border-top: 1px solid rgba(0, 0, 0, 0.125); box-shadow: 0 -4px 10px -5px rgba(0, 0, 0, 0.5);" class="fixed-bottom">
    <div style="display: flex; justify-content: center; align-items: center; height: 60px;">
      <a [routerLink]="[AthleteComparePage]" [queryParams]="{athleteIds: athleteIdsToCompareString}" target="_blank">
        View ({{athleteIdsToCompare.length}})
      </a>
      <a style="cursor: pointer;" class="ms-2" (click)="onCloseCompareClicked()">Clear</a>
    </div>
  </div>
}
