<header>
  <nav class="navbar navbar-expand-sm">
    <div class="container">

      <a class="navbar-brand" [routerLink]="EventsPage">
        <img src="/assets/img/CourseScoring9.png" alt="">
      </a>

      <ul class="navbar-nav">
        <li>
          <div ngbDropdown>
            <a style="cursor: pointer;" class="nav-link dropdown-toggle" ngbDropdownToggle>
              Directory
            </a>
            <div class="p-3" ngbDropdownMenu>
              <div style="padding: 0;" ngbDropdownItem>
                <i class="mr-2 fa fa-calendar"></i><a [routerLink]="EventsPage">Events</a>
              </div>
              <div style="padding: 0;" class="mt-2" ngbDropdownItem>
                <i class="mr-2 fa fa-users"></i><a [routerLink]="AthletesPage">Athletes</a>
              </div>
            </div>
          </div>
        </li>
        <li><a class="nav-link" [routerLink]="AdvancedSearch">Advanced Search</a></li>
      </ul>

      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
        <ul class="navbar-nav">
          <div class="form-inline">
            <div style="position: relative;">

              <div class="input-group input-group-sm">
                <span class="input-group-text" id="inputGroup-sizing-sm"><span class="mx-1"><i class="fa fa-search"></i></span>Search</span>
                <ng-container *ngTemplateOutlet="searchBoxInput"></ng-container>
              </div>

              <ng-container *ngTemplateOutlet="searchResultsTemplate"></ng-container>

            </div>
          </div>
          <li>
          </li>
        </ul>
      </div>

    </div>
    
  </nav>

</header>

<ng-template #searchBoxInput>

  <input
    #searchBox
    id="search-box"
    (focus)="searchIsFocused=true"
    (blur)="searchIsFocused=false"
    (input)="search(searchBox.value)"
    type="text"
    class="form-control form-control-sm"
    placeholder="Quick Search"
    autocomplete="off"
  />

</ng-template>

<ng-template #searchResultsTemplate>

  <ng-container *ngIf="(mouseIsOver || searchIsFocused) && searchRequested">

    <div (mouseenter)="mouseIsOver=true" (mouseleave)="mouseIsOver=false" class="shadow searchResultsContainer p-2">

      <ng-container *ngIf="searchResults">

        <div class="row">

          <div class="col-6">
            <div class="mb-3 font-18 font-weight-bold"><b>{{searchResults.athletes.length}}</b> athlete(s) found</div>

            <div class="mb-2 border p-1" *ngFor="let athlete of searchResults.athletes">
              <div class="font-weight-bold">
                <a [routerLink]="[AthletePage, athlete.id]">{{athlete.fullName}}</a>
              </div>
              <div class="font-12 font-weight-bold">{{athlete.genderAbbreviated}} | {{athlete.age}}</div>
              <div class="font-12">{{athlete.locationInfoWithRank.city}}, {{athlete.locationInfoWithRank.state}}</div>
            </div>
          </div>

          <div class="col-6">

            <div class="mb-3 font-18 font-weight-bold"><b>{{searchResults.raceSeries.length}}</b> events(s) found</div>

            <div class="mb-2 border p-1" *ngFor="let raceSeries of searchResults.raceSeries">
              <div class="font-weight-bold"><a [routerLink]="[RaceSeriesDashboardPage, raceSeries.id]">{{raceSeries.name}}</a></div>
              <div class="font-12 font-weight-bold">{{raceSeries.raceSeriesTypeName}}</div>
              <div class="font-12">{{raceSeries.locationInfoWithRank.city}}, {{raceSeries.locationInfoWithRank.state}}</div>
            </div>
          </div>

        </div>

      </ng-container>

    </div>

  </ng-container>

</ng-template>