<header>

  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" [routerLink]="EventsPage">
        <img src="/assets/img/CourseScoring9.png" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="EventsPage">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="AthletesPage">Athletes</a>
          </li>
        </ul>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
          <ul class="navbar-nav">
            <div class="form-inline">
              <div style="position: relative;">
                <div class="input-group input-group-sm">
                  <span class="input-group-text" id="inputGroup-sizing-sm"><span class="mx-1"><i class="fa fa-search"></i></span>Search</span>

                  <input
                    [formControl]="inputControl"
                    (focus)="searchIsFocused=true"
                    (blur)="searchIsFocused=false"
                    type="text"
                    class="form-control form-control-sm"
                    placeholder="Quick Search"
                    autocomplete="off"
                  />

                </div>

                @if ((mouseIsOver || searchIsFocused) && searchTerm !== '') {
                  <div (mouseenter)="mouseIsOver=true" (mouseleave)="mouseIsOver=false" class="shadow searchResultsContainer p-2">
                    <ng-container *ngTemplateOutlet="resultsTemplate"></ng-container>
                  </div>
                }

              </div>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </nav>

</header>

<ng-template #resultsTemplate>

  <div class="row">

    <div class="mb-2">Searched on: <strong>{{searchTerm}}</strong></div>

    <div class="col-6">
      <div class="mb-3 font-18 font-weight-bold"><b>{{searchResults.athletes.length}}</b> athlete(s) found</div>

      <div class="mb-2 border p-1" *ngFor="let athlete of searchResults.athletes">
        <div class="font-weight-bold">
          <a [routerLink]="[AthletePage, athlete.id]">{{athlete.fullName}}</a>
        </div>
        <div class="font-12 font-weight-bold">{{athlete.genderAbbreviated}} | {{athlete.age}}</div>
        <div class="font-12">{{athlete.locationInfoWithRank.city}}, {{athlete.locationInfoWithRank.state}}</div>
      </div>
    </div>

    <div class="col-6">
      <div class="mb-3 font-18 font-weight-bold"><b>{{searchResults.raceSeries.length}}</b> events(s) found</div>

      <div class="mb-2 border p-1" *ngFor="let raceSeries of searchResults.raceSeries">
        <div class="font-weight-bold"><a [routerLink]="[RaceSeriesDashboardPage, raceSeries.id]">{{raceSeries.name}}</a></div>
        <div class="font-12 font-weight-bold">{{raceSeries.raceSeriesTypeName}}</div>
        <div class="font-12">{{raceSeries.locationInfoWithRank.city}}, {{raceSeries.locationInfoWithRank.state}}</div>
      </div>
    </div>

  </div>

</ng-template>