<div class="modal-header">
  <h4 class="modal-title">Athlete Quick View</h4>
  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div style="max-height: 400px; overflow-y: scroll;" class="modal-body">
  <div class="row">
    <div class="col-4">
      <div><img width="120px" height="120px" src="/assets/img/Athlete.png"></div>
      <div class="font-24 font-weight-bold">{{arp.fullName}}</div>
      <div class="font-12">{{arp.genderAbbreviated}} | {{arp.age}}</div>

      <hr />
      <div class="mb-1" *ngFor="let tag of arp.tags">
        <span class="font-20 badge badge-primary primary-background">{{tag}}</span>
      </div>
    </div>
    <div class="col-8">

      <div class="mb-5">
        <div class="font-20 font-weight-bold">{{arp.allEventsGoal.raceSeriesTypeName}}</div>
        <div class="font-12">Completed: <strong>{{arp.allEventsGoal.actualTotal}}</strong> of <strong>{{arp.allEventsGoal.goalTotal}}</strong> events</div>
        <div class="pr-3" placement="top" ngbTooltip="distance completed: {{arp.allEventsGoal.totalDistance}} ">
          <ngb-progressbar type="success" [value]="arp.allEventsGoal.percentComplete" [striped]="true"></ngb-progressbar>
        </div>
      </div>
      
      <hr />

      <div class="font-20 font-weight-bold">Results</div>

      <table class="my-5 table">
        <thead>
          <tr>
            <th style="width: 25%" class="text-left" scope="col">Event Name</th>
            <th style="width: 15%" scope="col">Overall</th>
            <th style="width: 15%" scope="col">Gender</th>
            <th style="width: 15%" scope="col">Division</th>
            <th style="width: 30%" scope="col">Total Time</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let result of arp.results">
            <td class="text-left font-weight-bold">
              <a class="viewIrpLink" (click)="modal.close()" [routerLink]="[IndividualResultPage, result.athleteCourseId]">{{result.raceName}}</a>
            </td>
            <td>
              <app-bracket-rank [rank]="result.overallRank" [total]="result.overallCount"></app-bracket-rank>
            </td>
            <td>
              <app-bracket-rank [rank]="result.genderRank" [total]="result.genderCount"></app-bracket-rank>
            </td>
            <td>
              <app-bracket-rank [rank]="result.primaryDivisionRank" [total]="result.primaryDivisionCount"></app-bracket-rank>
            </td>
            <td><app-interval-time [paceTime]="result.paceWithTimeCumulative"></app-interval-time></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="modal.close()">Close</button>
</div>