
@if (breadcrumbLocation === breadcrumbAll) {
  All Athletes
}

@if (breadcrumbLocation >= breadcrumbState) {
  <a [routerLink]="AthletesPage">All Athletes</a> >
}

@if (breadcrumbLocation >= breadcrumbArea) {
  <a [routerLink]="[AthletesStatePage, breadcrumbResult.locationInfoWithUrl.stateUrl]">{{breadcrumbResult.locationInfoWithUrl.state}}</a> >
}

@if (breadcrumbLocation >= breadcrumbCity) {
  <a [routerLink]="[AthletesAreaPage, breadcrumbResult.locationInfoWithUrl.areaUrl]">{{breadcrumbResult.locationInfoWithUrl.area}}</a> >
}

@if (breadcrumbLocation >= breadcrumbArp) {
  <a [routerLink]="[AthletesCityPage, breadcrumbResult.locationInfoWithUrl.cityUrl]">{{breadcrumbResult.locationInfoWithUrl.city}}</a> >
}

@if (breadcrumbLocation >= breadcrumbState) {
  {{title()}}
}
