
@if (breadcrumbLocation === breadcrumbAll) {
  All Athletes
}

@if (breadcrumbLocation >= breadcrumbState) {
  <a [routerLink]="AthletesPage">All Athletes</a> >
}

@if (breadcrumbLocation >= breadcrumbArea) {
  <a [routerLink]="[AthletesStatePage, stateUrl]">{{state}}</a> >
}

@if (breadcrumbLocation >= breadcrumbCity) {
  <a [routerLink]="[AthletesAreaPage, areaUrl]">{{area}}</a> >
}

@if (breadcrumbLocation >= breadcrumbRaceSeriesOrArp) {
  <a [routerLink]="[AthletesCityPage, cityUrl]">{{city}}</a> >
}

@if (breadcrumbLocation >= breadcrumbState) {
  {{title}}
}
