
<div class="form-row align-items-center">
  <div style="position: relative;" class="col-12">
    <div class="input-group">
      <div class="input-group-prepend">
        <button type="button" class="btn btn-primary searchOnButton">
          <span class="font-12">{{searchOn}}</span>
        </button>
        <div class="btn-group" ngbDropdown role="group" placement="bottom">
          <button class="btn btn-primary dropdown-toggle-split buttonDropdownToggle" ngbDropdownToggle></button>
          <div class="dropdown-menu" ngbDropdownMenu>
            <button (click)="onSearchOnClicked('bib')" ngbDropdownItem>Bib</button>
            <button (click)="onSearchOnClicked('first name')" ngbDropdownItem>First name</button>
            <button (click)="onSearchOnClicked('last name')" ngbDropdownItem>Last name</button>
            <button (click)="onSearchOnClicked('full name')" ngbDropdownItem>Full name</button>
          </div>
        </div>
      </div>
      <ng-container *ngTemplateOutlet="searchBoxInput"></ng-container>
    </div>
    <ng-container *ngIf="(mouseIsOver || searchIsFocused) && hasResults">

      <div (mouseenter)="mouseIsOver=true" (mouseleave)="mouseIsOver=false" class="searchResultsContainer p-2">
        <ng-container *ngIf="searchResults.length === 0; then noResultsTemplate else resultsFoundTemplate"></ng-container>
      </div>
  
    </ng-container>
  </div>
</div>

<ng-template #searchBoxInput>

  <input
    #searchBox
    id="search-box"
    [(ngModel)]="searchTerm"
    (focus)="searchIsFocused=true"
    (blur)="searchIsFocused=false"
    (input)="search(searchBox.value)"
    type="text"
    class="form-control"
    placeholder="Search Athletes"
    autocomplete="off"
  />

</ng-template>

<ng-template #noResultsTemplate>

  <div class="font-20">No results found.</div>

</ng-template>

<ng-template #resultsFoundTemplate>

  <div class="mb-3">({{searchResults.length}}) athlete(s) found for <strong>{{searchOn}}: {{searchTerm}}</strong></div>
  <div *ngFor="let athlete of searchResults" class="mb-2">
    <app-irps-search-result [irpSearchResultDto]="athlete"></app-irps-search-result>
  </div>

</ng-template>
