
<div class="font-12">

  <div>
    <strong>#{{locationInfoWithRank.overallRank}}</strong>
    <a class="text-success" [routerLink]="allRoute">
      Overall
    </a>
  </div>

  <ng-container *ngTemplateOutlet="link;context:{rank: locationInfoWithRank.stateRank, display: locationInfoWithRank.state, link: locationInfoWithRank.stateUrl, url: stateRoute}"></ng-container>
  <ng-container *ngTemplateOutlet="link;context:{rank: locationInfoWithRank.areaRank, display: locationInfoWithRank.area, link: locationInfoWithRank.areaUrl, url: areaRoute}"></ng-container>
  <ng-container *ngTemplateOutlet="link;context:{rank: locationInfoWithRank.cityRank, display: locationInfoWithRank.city, link: locationInfoWithRank.cityUrl, url: cityRoute}"></ng-container>

</div>

<ng-template #link let-rank="rank" let-display="display" let-link="link" let-url="url">

  <div class="text-truncate">
    <strong>#{{rank}}</strong> from
    <a class="text-success" [title]="display" [routerLink]="[url, link]">
      {{display}}
    </a>
  </div>

</ng-template>