<ul class="text-success" *ngFor="let state of dashboardInfoResponseDto.states">
  <li>
    <ng-container *ngTemplateOutlet="details;context:{navItem: state, url: stateRoute}"></ng-container>
  </li>
</ul>

<ng-template #details let-navItem="navItem" let-url="url">

  <span title="{{navItem.displayName}} ({{navItem.count}} total)">
    <a *ngIf="!navItem.isHighlighted" class="text-success" [routerLink]="[url, navItem.displayNameUrl]">{{navItem.displayName}}</a>
    <span class="highlighted" *ngIf="navItem.isHighlighted">{{navItem.displayName}}</span>
    <span class="mx-1 p-1 float-right badge text-bg-success">{{navItem.count}}</span>
  </span>

</ng-template>