
@if (breadcrumbLocation === breadcrumbAll) {
  All Events
}

@if (breadcrumbLocation >= breadcrumbState) {
  <a [routerLink]="EventsPage">All Events</a> >
}

@if (breadcrumbLocation >= breadcrumbArea) {
  <a [routerLink]="[EventsStatePage, breadcrumbResult.locationInfoWithUrl.stateUrl]">{{breadcrumbResult.locationInfoWithUrl.state}}</a> >
}

@if (breadcrumbLocation >= breadcrumbCity) {
  <a [routerLink]="[EventsAreaPage, breadcrumbResult.locationInfoWithUrl.areaUrl]">{{breadcrumbResult.locationInfoWithUrl.area}}</a> >
}

@if (breadcrumbLocation >= breadcrumbRaceSeries) {
  <a [routerLink]="[EventsCityPage, breadcrumbResult.locationInfoWithUrl.cityUrl]">{{breadcrumbResult.locationInfoWithUrl.city}}</a> >
}

@if (breadcrumbLocation >= breadcrumbRaceLeaderboard) {
  <a [routerLink]="[RaceSeriesDashboardPage, breadcrumbResult.raceSeriesDisplayWithId.id]">{{breadcrumbResult.raceSeriesDisplayWithId.displayName}}</a> >
}

@if (breadcrumbLocation >= breadcrumbCourseLeaderboard) {
  <a [routerLink]="[RaceLeaderboardPage, breadcrumbResult.raceDisplayWithId.id]">{{breadcrumbResult.raceDisplayWithId.displayName}}</a> >
}

@if (breadcrumbLocation >= breadcrumbIrp) {
  <a [routerLink]="[CourseLeaderboardPage, breadcrumbResult.courseDisplayWithId.id]">{{breadcrumbResult.courseDisplayWithId.displayName}}</a> >
}

@if (breadcrumbLocation >= breadcrumbState) {
  @switch (breadcrumbLocation) {
    @case (breadcrumbState) {
      {{breadcrumbResult.locationInfoWithUrl.state}}
    }
    @case (breadcrumbArea) {
      {{breadcrumbResult.locationInfoWithUrl.area}}
    }
    @case (breadcrumbCity) {
      {{breadcrumbResult.locationInfoWithUrl.city}}
    }
    @case (breadcrumbRaceSeries) {
      {{breadcrumbResult.raceSeriesDisplayWithId.displayName}}
    }
    @case (breadcrumbRaceLeaderboard) {
      {{breadcrumbResult.raceDisplayWithId.displayName}}
    }
    @case (breadcrumbCourseLeaderboard) {
      {{breadcrumbResult.courseDisplayWithId.displayName}}
    }
    @case (breadcrumbIrp) {
      {{breadcrumbResult.irpDisplayWithId.displayName}}
    }
  }
}