
@if (breadcrumbLocation === breadcrumbAll) {
  All Events
}

@if (breadcrumbLocation >= breadcrumbState) {
  <a [routerLink]="EventsPage">All Events</a> >
}

@if (breadcrumbLocation >= breadcrumbArea) {
  <a [routerLink]="[EventsStatePage, stateUrl]">{{state}}</a> >
}

@if (breadcrumbLocation >= breadcrumbCity) {
  <a [routerLink]="[EventsAreaPage, areaUrl]">{{area}}</a> >
}

@if (breadcrumbLocation >= breadcrumbRaceSeriesOrArp) {
  <a [routerLink]="[EventsCityPage, cityUrl]">{{city}}</a> >
}

@if (breadcrumbLocation >= breadcrumbRaceLeaderboard) {
  <a [routerLink]="[RaceSeriesDashboardPage, breadcrumbResult.raceSeriesDisplayWithId.id]">{{breadcrumbResult.raceSeriesDisplayWithId.displayName}}</a> >
}

@if (breadcrumbLocation >= breadcrumbCourseLeaderboard) {
  <a [routerLink]="[RaceLeaderboardPage, breadcrumbResult.raceDisplayWithId.id]">{{breadcrumbResult.raceDisplayWithId.displayName}}</a> >
}

@if (breadcrumbLocation >= breadcrumbIrp) {
  <a [routerLink]="[CourseLeaderboardPage, breadcrumbResult.courseDisplayWithId.id]">{{breadcrumbResult.courseDisplayWithId.displayName}}</a> >
}

@if (breadcrumbLocation >= breadcrumbState) {
  {{title}}
}
