
<div class="font-24 font-weight-bold">Advanced Search</div>

<hr />

<div class="row mb-5">

  <div class="col-4">
    <div class="form-group">
      <label for="eventName">Event Name</label>
      <input [(ngModel)]="eventFilter" class="form-control" id="eventName">
    </div>
    <div class="form-group">
      <label for="state">State</label>
      <input [(ngModel)]="stateFilter" class="form-control" id="state">
    </div>
    <div class="form-group">
      <label for="area">Area</label>
      <input [(ngModel)]="areaFilter" class="form-control" id="area">
    </div>
    <div class="form-group">
      <label for="city">City</label>
      <input [(ngModel)]="cityFilter" class="form-control" id="city">
    </div>

    <div class="mt-5">
      <button (click)="onSearchClicked()" class="btn btn-lg btn-outline-success"><i class="fa fa-search"></i> Search</button>
    </div>

  </div>

  <div class="col-3">
    <div class="form-check">
      <input [(ngModel)]="raceTypeFilters.running" type="checkbox" name="running" class="form-check-input" id="running">
      <label class="form-check-label" for="running">Running</label>
    </div>
    <div class="form-check">
      <input [(ngModel)]="raceTypeFilters.triathalon" type="checkbox" name="triathalon" class="form-check-input" id="triathalon">
      <label class="form-check-label" for="triathalon">Triathalon</label>
    </div>
    <div class="form-check">
      <input [(ngModel)]="raceTypeFilters.roadBiking" type="checkbox" name="roadBiking" class="form-check-input" id="roadBiking">
      <label class="form-check-label" for="roadBiking">Road Biking</label>
    </div>
    <div class="form-check">
      <input [(ngModel)]="raceTypeFilters.mountainBiking" type="checkbox" name="mountainBiking" class="form-check-input" id="mountainBiking">
      <label class="form-check-label" for="mountainBiking">Mountain Biking</label>
    </div>
    <div class="form-check">
      <input [(ngModel)]="raceTypeFilters.crossCountrySkiing" type="checkbox" name="crossCountrySkiing" class="form-check-input" id="crossCountrySkiing">
      <label class="form-check-label" for="crossCountrySkiing">Cross Country Skiing</label>
    </div>
    <div class="form-check">
      <input [(ngModel)]="raceTypeFilters.swim" type="checkbox" name="swim" class="form-check-input" id="swim">
      <label class="form-check-label" for="swim">Swim</label>
    </div>

    <div class="btn-group btn-group-sm mt-4" role="group" aria-label="Basic example">
      <button (click)="setFilters(true)" type="button" class="btn btn-outline-secondary">Select All</button>
      <button (click)="setFilters(false)" type="button" class="btn btn-outline-secondary">Clear All</button>
    </div>

  </div>

  <div class="col-5 border-left">

    <div class="mb-3 font-20"><b>{{searchResults.length}}</b> result(s) found</div>

    <div class="mb-2" *ngFor="let raceSeries of searchResults">
      <div class="font-weight-bold"><a [routerLink]="[RaceSeriesDashboardPage, raceSeries.id]">{{raceSeries.name}}</a></div>
      <div class="font-12 font-weight-bold">{{raceSeries.raceSeriesTypeName}}</div>
      <div class="font-12">{{raceSeries.locationInfoWithRank.city}}, {{raceSeries.locationInfoWithRank.state}}</div>
    </div>
  </div>

</div>

