<div style="position: relative;">

  <div class="input-group">
    <div ngbDropdown class="input-group-prepend">
      <button class="btn btn-outline-success" id="dropdownMenuButton" ngbDropdownToggle>{{searchOn}}</button>
      <div ngbDropdownMenu placement="left" aria-labelledby="dropdownMenuButton">
        <button (click)="onSearchOnClicked('bib')" ngbDropdownItem>Bib</button>
        <button (click)="onSearchOnClicked('first name')" ngbDropdownItem>First name</button>
        <button (click)="onSearchOnClicked('last name')" ngbDropdownItem>Last name</button>
        <button (click)="onSearchOnClicked('full name')" ngbDropdownItem>Full name</button>
      </div>
    </div>
    <!-- <input
      #searchBox
      id="search-box"
      [(ngModel)]="searchTerm"
      (focus)="searchIsFocused=true"
      (blur)="searchIsFocused=false"
      (input)="search(searchBox.value)"
      type="text"
      class="form-control"
      placeholder="Search Athletes"
      autocomplete="off"
    /> -->

    <input 
      [formControl]="inputControl"
      (focus)="searchIsFocused=true"
      (blur)="searchIsFocused=false"
      type="text"
      class="form-control"
      placeholder="Search Athletes"
      autocomplete="off"
    />

  </div>

  <ng-container *ngIf="$searchResults | async as searchResults">

    <div *ngIf="(mouseIsOver || searchIsFocused)" (mouseenter)="mouseIsOver=true" (mouseleave)="mouseIsOver=false" class="shadow searchResultsContainer p-2">

      @if (searchResults?.length === 0) {
        <div class="font-20">No results found.</div>
      } @else {
        <div class="mb-3">({{searchResults?.length}}) athlete(s) found for <strong>{{searchOn}}: {{inputControl.value}}</strong></div>
        <div *ngFor="let athlete of searchResults" class="mb-2">
          <app-irps-search-result [irpSearchResultDto]="athlete"></app-irps-search-result>
        </div>
      }

    </div>

  </ng-container>

</div>
