<div style="position: relative;">

  <div class="input-group">
    <div ngbDropdown class="input-group-prepend">
      <button class="btn btn-outline-success" id="dropdownMenuButton" ngbDropdownToggle>{{searchOn}}</button>
      <div ngbDropdownMenu placement="left" aria-labelledby="dropdownMenuButton">
        <button (click)="onSearchOnClicked('bib')" ngbDropdownItem>Bib</button>
        <button (click)="onSearchOnClicked('first name')" ngbDropdownItem>First name</button>
        <button (click)="onSearchOnClicked('last name')" ngbDropdownItem>Last name</button>
        <button (click)="onSearchOnClicked('full name')" ngbDropdownItem>Full name</button>
      </div>
    </div>

    <input
      [formControl]="inputControl"
      (focus)="searchIsFocused=true"
      (blur)="searchIsFocused=false"
      type="text"
      class="form-control"
      placeholder="Search Athletes"
      autocomplete="off"
    />

  </div>

  @if (mouseIsOver || searchIsFocused) {
    <div (mouseenter)="mouseIsOver=true" (mouseleave)="mouseIsOver=false" class="shadow searchResultsContainer p-2">
      @if (searchTerm !== '') {
        <div class="mb-3">({{searchResults.length}}) athlete(s) found for <strong>{{searchOn}}: {{searchTerm}}</strong></div>
        <div *ngFor="let athlete of searchResults" class="mb-2">
          <app-irps-search-result [irpSearchResultDto]="athlete"></app-irps-search-result>
        </div>
      } @else {
        <div>Enter a search value</div>
      }
    </div>
  }

</div>
