<div class="modal-header">
  <h4 class="modal-title">{{selectedGoal.raceSeriesTypeName}} events</h4>
  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div style="max-height: 325px; overflow-y: scroll;" class="modal-body">
  <div class="mb-4" *ngFor="let course of selectedGoal.courses">
    <div>
      <a class="font-24 font-weight-bold" style="color: black;" [routerLink]="[RaceLeaderboardPage, course.raceId]">
        {{course.raceName}}
      </a>
    </div>
    <div>
      <a class="font-18 primary-color font-weight-bold" [routerLink]="[CourseLeaderboardPage, course.courseId]">
        {{course.courseName}}
      </a>
    </div>
    <div class="font-14">{{course.raceSeriesCity}}, {{course.raceSeriesState}}</div>
    <div class="font-12 font-italic font-weight-bold">- "{{course.raceSeriesDescription}}"</div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="modal.close()">Close</button>
</div>