<div style="position: relative;">

  <div class="input-group">
    <div ngbDropdown class="input-group-prepend">
      <button class="btn btn-outline-success" id="dropdownMenuButton" ngbDropdownToggle>{{searchOn}}</button>
      <div ngbDropdownMenu placement="left" aria-labelledby="dropdownMenuButton">
        <button (click)="onSearchOnClicked('bib')" ngbDropdownItem>Bib</button>
        <button (click)="onSearchOnClicked('first name')" ngbDropdownItem>First name</button>
        <button (click)="onSearchOnClicked('last name')" ngbDropdownItem>Last name</button>
        <button (click)="onSearchOnClicked('full name')" ngbDropdownItem>Full name</button>
      </div>
    </div>

    <input
      [formControl]="inputControl"
      (focus)="searchIsFocused=true"
      (blur)="searchIsFocused=false"
      type="text"
      class="form-control"
      placeholder="Search Athletes"
      autocomplete="off"
    />

  </div>

  @if (mouseIsOver || searchIsFocused) {
    <div (mouseenter)="mouseIsOver=true" (mouseleave)="mouseIsOver=false" class="shadow searchResultsContainer p-2">
      @if (searchTerm !== '') {
        <div class="mb-3">({{searchResults.length}}) athlete(s) found for <strong>{{searchOn}}: {{searchTerm}}</strong></div>
        <div *ngFor="let irp of searchResults" class="mb-2">
          <div class="font-weight-bold"><a [routerLink]="[IndividualResultPage, irp.athleteCourseId]">{{irp.fullName}}</a></div>
          <div class="font-12 font-weight-bold">{{irp.genderAbbreviated}} | {{irp.raceAge}}</div>
          <div class="font-12">{{irp.city}} | {{irp.state}}</div>
          <div>
            <span class="badge text-bg-dark">{{irp.bib}}</span> |
            <b><span class="font-12 text-success">{{irp.courseName}}</span></b>
          </div>
        </div>
      } @else {
        <div>Enter a search value</div>
      }
    </div>
  }

</div>
