
<div style="position: relative">

  <div class="input-group input-group-sm">
    <span class="input-group-text" id="inputGroup-sizing-sm"><span class="mx-1"><i class="fa fa-search"></i></span>Search</span>

    <input
      [formControl]="inputControl"
      (focus)="searchIsFocused=true"
      (blur)="searchIsFocused=false"
      type="text"
      class="form-control"
      [placeholder]="quickSearchType === 0 ? 'Search Events' : 'Search Athletes'"
      autocomplete="off"
    />

  </div>

  @if (mouseIsOver || searchIsFocused) {
    <div (mouseenter)="mouseIsOver=true" (mouseleave)="mouseIsOver=false" class="shadow searchResultsContainer p-2">
      @if (searchTerm !== '') {
        <ng-container *ngTemplateOutlet="resultsTemplate"></ng-container>
      } @else {
        <div>Enter a search value</div>
      }
    </div>
  }

</div>

<ng-template #resultsTemplate>

  <div class="mb-3 font-20"><b>{{searchResults.length}}</b> result(s) found for <strong>{{searchTerm}}</strong></div>

  @switch (quickSearchType) {
    @case (0) {
      <div class="mb-2" *ngFor="let raceSeries of searchResults">
        <div class="font-weight-bold"><a [routerLink]="[RaceSeriesDashboardPage, raceSeries.id]">{{raceSeries.name}}</a></div>
        <div class="font-12 font-weight-bold">{{raceSeries.raceSeriesTypeName}}</div>
        <div class="font-12">{{raceSeries.locationInfoWithRank.city}}, {{raceSeries.locationInfoWithRank.state}}</div>
      </div>
    } @case (1) {
      <div class="mb-2" *ngFor="let athlete of searchResults">
        <div class="font-weight-bold">
          <a [routerLink]="[AthletePage, athlete.id]">{{athlete.fullName}}</a>
        </div>
        <div class="font-12">{{athlete.genderAbbreviated}} | {{athlete.age}}</div>
        <div class="font-12">{{athlete.locationInfoWithRank.city}}, {{athlete.locationInfoWithRank.state}}</div>
      </div>
    }
  }

</ng-template>
