<div style="background-color: #24325a; min-height: 100vh;">
  <app-nav-menu></app-nav-menu>
  <div style="background-color: whitesmoke; padding-top: 15px; padding-bottom: 15px;">
    <div class="container" style="min-height: 80vh">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div style="color: white; background-color: #24325a; padding-bottom: 20px; padding-top: 20px;" class="text-center">
    <div>
      <img src="/assets/img/CourseScoring9.png" alt="">
    </div>
    <div class="font-12 mt-2">
      copyright - <b>all rights reserved</b>
    </div>
  </div>
</div>
