
.raceSeriesDashboarLinkContainer {
  position: relative
}

.expandedViewDropDownContainer {
  position: absolute;
  top: 0;
  right: 0;
}

.raceSeriesImage {
  width: 100%;
  height: 125px;
}

/* add border to existing bootstrap css */
.dropdown-menu.show {
  border: 1px solid black;
}