<div class="mb-3">
  <a [routerLink]="AthletesPage">All Athletes</a> >
  Compare Athletes
</div>

<hr />

<ng-container *ngIf="dataLoaded">

  <div class="row">
    <div class="col-sm" *ngFor="let athleteInfo of athleteInfoDtos">
      <div class="font-24 font-weight-bold">{{athleteInfo.fullName}}</div>
      <div class="font-18">{{athleteInfo.locationInfoWithRank.city}}, {{athleteInfo.locationInfoWithRank.state}}</div>
      <div class="font-12">{{athleteInfo.genderAbbreviated}} | {{athleteInfo.age}}</div>

      <hr />
      <app-location-info-rankings [locationInfoWithRank]="athleteInfo.locationInfoWithRank" [useEventsNavigation]="false"></app-location-info-rankings>
      <hr />
    </div>
  </div>

  <div class="row">
    <div class="col-sm" *ngFor="let athleteInfo of athleteInfoDtos">
      <div class="mb-2" *ngFor="let stat of athleteInfo.stats">
        <div class="font-weight-bold">{{stat.raceSeriesTypeName}}</div>
        <div style="line-height: 10px;" class="font-12">total disance : <i>{{stat.totalDistance}}</i></div>
      </div>
    </div>
  </div>

  <div class="row my-4">
    <div class="col-sm" *ngFor="let athleteInfo of athleteInfoDtos">
      <table class="table">
        <thead>
          <tr>
            <th style="width: 81%" class="text-left" scope="col"></th>
            <th title="Overall" style="width: 7%" scope="col">O</th>
            <th title="Gender" style="width: 7%" scope="col">G</th>
            <th title="Division" style="width: 7%" scope="col">D</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let result of athleteInfo.results">
            <td class="text-left">
              <div class="font-18 font-weight-bold">{{result.raceName}}</div>
              <div>
                <span class="font-12 font-weight-bold"><strong>{{result.paceWithTime.timeFormatted}}</strong></span>
                <span style="font-size: 12px;" *ngIf="result.paceWithTime.hasPace">
                  ({{result.paceWithTime.paceValue}} {{result.paceWithTime.paceLabel}})
                </span>
              </div>
              <div><a class="font-12" title="view result" [routerLink]="[IndividualResultPage, result.athleteCourseId]">View</a></div>
            </td>
            <td>{{result.overallRank}}</td>
            <td>{{result.genderRank}}</td>
            <td>{{result.divisionRank}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</ng-container>

