
<div *ngIf="rank">
  <span class="font-20 font-weight-bold mr-1">{{rank}}</span>
  <span class="font-12">of {{total}}</span>
  <div *ngIf="indicator">
    <span *ngIf="indicator === 1"><i style="color: green;" class="fa fa-long-arrow-up"></i><span class="ml-1" style="font-size: 10px;">(Better)</span></span>
    <span *ngIf="indicator === 2"><i style="color: red;" class="fa fa-long-arrow-down"></i><span class="ml-1" style="font-size: 10px;">(Worse)</span></span>
  </div>
</div>

<div *ngIf="!rank">--</div>
