
<div *ngIf="eventsBreadcrumbResult$ | async as eventsBreadcrumbResult" class="mb-3">
  <app-events-bread-crumb [breadcrumbResult]="eventsBreadcrumbResult" [breadcrumbLocation]="breadcrumbLocation"></app-events-bread-crumb>
</div>

<hr />

<div *ngIf="$raceSeries | async as raceSeries" class="row">
  <div class="col-3">

    <div><img width="120px" height="120px" [src]="raceSeries.raceSeriesImageUrl"></div>
    <div class="mt-4 mb-3 font-24 font-weight-bold">{{raceSeries.name}}</div>

    <app-location-info-rankings [locationInfoWithRank]="raceSeries.locationInfoWithRank" [useEventsNavigation]="false"></app-location-info-rankings>

    <div class="mt-3 font-12 font-weight-bold font-italic">- "{{raceSeries.description}}"</div>

    <div class="mt-3">
      <div class="mb-1" *ngFor="let race of raceSeries.races">
        <a [routerLink]="[RaceLeaderboardPage, race.id]" class="btn btn-outline-primary">{{race.kickOffDate}}</a>
      </div>
    </div>
  </div>
  <div class="col-9">
    <ul ngbNav #nav="ngbNav" [(activeId)]="raceSeries.firstCourseId" class="nav-tabs">
      <li ngbNavItem [ngbNavItem]="course.id" *ngFor="let course of raceSeries.courses">
        <a ngbNavLink>{{course.displayName}}</a>
        <ng-template ngbNavContent>
          <race-series-course-tab [course]="course"></race-series-course-tab>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>
  </div>
</div>
