
<td>
  <a title="view result" [routerLink]="[IndividualResultPage, participant.athleteCourseId]">
    View
  </a>
</td>
<td>
  <div ngbDropdown placement="top">
    <button role="button" class="btn-plain">
      <i title="view goals and training" ngbDropdownToggle class="fa fa-info-circle"></i>
    </button>
    <div ngbDropdownMenu>
      <div class="p-2" style="width: 600px;">
        <div class="font-weight-bold">{{participant.firstName}}'s course goals:</div>
        <div class="mt-2 font-12" >"{{participant.courseGoalDescription}}"</div>
        <div class="mt-3 font-weight-bold">{{participant.firstName}}'s personal goals:</div>
        <div class="mt-2 font-12">"{{participant.personalGoalDescription}}"</div>
        <div class="mt-3 font-weight-bold">{{participant.firstName}}'s trainings:</div>
        <ul class="mt-2">
          <li class="font-12" *ngFor="let training of participant.trainingList">{{training}}</li>
        </ul>
      </div>
    </div>
  </div>
</td>
<td>
  <span class="font-24 badge text-bg-dark" title="bib">{{participant.bib}}</span>
</td>
<td>
  <div>
    <a class="font-weight-bold" title="view profile for {{participant.fullName}}" [routerLink]="[AthletePage, participant.athleteId]">
      {{participant.fullName}}
    </a>
  </div>
  <div>{{participant.genderAbbreviated}} | {{participant.raceAge}}</div>
</td>
<td>{{participant.state}}, {{participant.city}}</td>
