
<div class="font-12">

  <div>
    <strong>#{{overallRank}}</strong>
    <a class="text-success" [routerLink]="allRoute">
      Overall
    </a>
  </div>

  <ng-container *ngTemplateOutlet="link;context:{rank: stateRank, display: state, link: stateUrl, url: stateRoute}"></ng-container>
  <ng-container *ngTemplateOutlet="link;context:{rank: areaRank, display: area, link: areaUrl, url: areaRoute}"></ng-container>
  <ng-container *ngTemplateOutlet="link;context:{rank: cityRank, display: city, link: cityUrl, url: cityRoute}"></ng-container>

</div>

<ng-template #link let-rank="rank" let-display="display" let-link="link" let-url="url">

  <div class="text-truncate">
    <strong>#{{rank}}</strong> from
    <a class="text-success" [title]="display" [routerLink]="[url, link]">
      {{display}}
    </a>
  </div>

</ng-template>