name: Build and Deploy Container Apps - Dev

permissions:
  contents: read
  packages: write

on:
  push:
    branches:
      - main

jobs:
  detect-file-changes:
    runs-on: ubuntu-latest
    outputs:
      api: ${{ steps.filter.outputs.api }}
      web-app: ${{ steps.filter.outputs.web-app }}
    steps:
      - uses: actions/checkout@v4

      - name: Detect changes
        id: filter
        uses: dorny/paths-filter@v3
        with:
          filters: |
            api:
              - 'Api/**'
            web-app:
              - 'WebApp/**'

  build-and-deploy-api:
    needs: detect-file-changes
    if: needs.detect-file-changes.outputs.api == 'true'
    runs-on: ubuntu-latest
    environment: dev
    steps:
      - uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build image
        run: docker build . -f Api/Dockerfile -t ghcr.io/${{ github.repository_owner }}/course-scoring-api:dev-${{ github.run_number }}

      - name: Push image
        run: docker push ghcr.io/${{ github.repository_owner }}/course-scoring-api:dev-${{ github.run_number }}
      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy apiDeploy.bicep
        uses: azure/arm-deploy@v1
        with:
          subscriptionId: ${{ secrets.SUBSCRIPTION_ID }}
          resourceGroupName: ${{ vars.RESOURCE_GROUP }}
          template: ./infrastructure/containerApps/api.deploy.bicep
          parameters: >
            environment=dev
            ghcrUsername=${{ secrets.GHCR_USERNAME }}
            ghcrPassword=${{ secrets.GHCR_PASSWORD }}
            tagNumber=dev-${{ github.run_number }}
          deploymentMode: Incremental

  build-and-deploy-web-app:
    needs: detect-file-changes
    if: needs.detect-file-changes.outputs.web-app == 'true'
    runs-on: ubuntu-latest
    environment: dev
    steps:
      - uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build image
        run: docker build . -f Dockerfile -t ghcr.io/${{ github.repository_owner }}/course-scoring-web-app:dev-${{ github.run_number }}
        working-directory: WebApp

      - name: Push image
        run: docker push ghcr.io/${{ github.repository_owner }}/course-scoring-web-app:dev-${{ github.run_number }}
      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy webAppDeploy.bicep
        uses: azure/arm-deploy@v1
        with:
          subscriptionId: ${{ secrets.SUBSCRIPTION_ID }}
          resourceGroupName: ${{ vars.RESOURCE_GROUP }}
          template: ./infrastructure/containerApps/webApp.deploy.bicep
          parameters: >
            environment=dev
            ghcrUsername=${{ secrets.GHCR_USERNAME }}
            ghcrPassword=${{ secrets.GHCR_PASSWORD }}
            tagNumber=dev-${{ github.run_number }}
          deploymentMode: Incremental
