
<div *ngIf="eventsBreadcrumbResult" class="mb-3">
  <app-events-bread-crumb [breadcrumbResult]="eventsBreadcrumbResult" [breadcrumbLocation]="breadcrumbLocation"></app-events-bread-crumb>
</div>

<hr />

<div *ngIf="$irp | async as irp" class="row">
  <div class="col-lg-3">
    <div>
      <a [routerLink]="[AthletePage, irp.athleteId]">
        <img width="120px" height="120px" src="/assets/img/Athlete.png">
      </a>
    </div>

    <div class="mt-4 font-24 font-weight-bold">{{irp.fullName}}</div>
    <div class="font-18">{{irp.locationInfoWithRank.city}}, {{irp.locationInfoWithRank.state}}</div>
    <div class="font-12">{{irp.genderAbbreviated}} | {{irp.raceAge}}</div>

    <div class="mb-3">
      <span class="font-24 badge text-bg-dark" title="bib">{{irp.bib}}</span>
    </div>

    <app-location-info-rankings [locationInfoWithRank]="irp.locationInfoWithRank" [useEventsNavigation]="false"></app-location-info-rankings>

    <div class="mt-3" *ngFor="let tag of irp.tags">
      <span class="font-20 badge badge-primary primary-background">{{tag}}</span>
    </div>

    <div class="mt-3">{{irp.firstName}}'s training</div>
    <ul class="mt-3">
      <li class="font-12" *ngFor="let training of irp.trainingList">{{training}}</li>
    </ul>

    <div class="mt-3">{{irp.firstName}}'s personal goal</div>
    <div class="mt-3 font-12 text-italic">"{{irp.personalGoalDescription}}"</div>

    <div class="mt-3">{{irp.firstName}}'s course goal</div>
    <div class="mt-3 font-12 primary-color text-italic"><strong>"{{irp.courseGoalDescription}}"</strong></div>
  </div>

  <div class="col-lg-9">

    <ng-container *ngTemplateOutlet="finish;context:{irp:irp}"></ng-container>
    <hr />
    <div class="my-5 row">
      <div *ngFor="let bracket of irp.bracketResults" class="col-3">
        <div class="text-truncate" [title]="bracket.name">{{bracket.name}}</div>
        <div class="mt-1 font-24 font-weight-bold primary-color">
          {{bracket.rank}} of {{bracket.totalRacers}}
        </div>
        <div class="font-weight-bold">{{bracket.percentile}}</div>
      </div>
    </div>
    <hr />
    <ng-container *ngTemplateOutlet="intervals;context:{irp:irp}"></ng-container>

  </div>
</div>

<ng-template #finish let-irp="irp">

  <div class="font-20 font-weight-bold">Finish Info</div>

  <div class="my-5 row">
    <div class="col col-4">
      <div>Time</div>
      <div class="font-24 font-weight-bold">{{irp.paceWithTimeCumulative.timeFormatted}}</div>
    </div>
    <div class="col col-4">
      <div>Pace ({{irp.paceWithTimeCumulative.paceLabel}})</div>
      <div class="font-24 font-weight-bold">
        {{irp.paceWithTimeCumulative.paceValue || '--'}}
      </div>
    </div>
    <div class="col col-4">
      <div>Finish Time ({{irp.timeZoneAbbreviated}})</div>
      <div class="font-24 font-weight-bold">
        {{irp.finishTime ? irp.finishTime : '--' }}
      </div>
    </div>
  </div>

</ng-template>

<ng-template #intervals let-irp="irp">

  <div class="font-20 font-weight-bold">Intervals</div>
  <div class="font-12">* Shows all intervals even if they have not been completed</div>

  <div class="mt-5 font-12 font-weight-bold">Course Tracker</div>
  <div class="py-2">
    <div class="flex">
      <div class="flex-item" *ngFor="let interval of irp.intervalResults">
        <div *ngIf="!interval.isFullCourse" class="pizzaTrackerDashedLine"></div>
        <app-irp-pizza-tracker [interval]="interval"></app-irp-pizza-tracker>
      </div>
    </div>
  </div>

  <table class="my-5 table">
    <thead>
      <tr>
        <th style="width: 15%" scope="col"></th> <!-- name -->
        <th style="width: 20%" scope="col">Time <span class="font-12">({{irp.timeZoneAbbreviated}})</span></th>
        <th style="width: 10%" scope="col">Overall</th>
        <th style="width: 10%" scope="col">Gender</th>
        <th style="width: 10%" scope="col">Division</th>
        <th style="width: 15%" scope="col">Interval Time</th>
        <th style="width: 20%" scope="col">Cumulative Time</th>
      </tr>
    </thead>
    <tbody>
      @for (intervalResult of irp.intervalResults; track intervalResult) {
        <tr app-irp-interval-result [irpResultByInterval]="intervalResult"></tr>
      }
    </tbody>
  </table>

</ng-template>
