
<div *ngIf="eventsBreadcrumbResult" class="mb-3">
  <app-events-bread-crumb [breadcrumbResult]="eventsBreadcrumbResult" [breadcrumbLocation]="breadcrumbLocation"></app-events-bread-crumb>
</div>

<hr />

<div *ngIf="dataLoaded" class="row">
  <div class="col-lg-3">
    <div>
      <a [routerLink]="[AthletePage, athleteId]">
        <img width="120px" height="120px" src="/assets/img/Athlete.png">
      </a>
    </div>

    <div class="mt-4 font-24 font-weight-bold">{{fullName}}</div>
    <div class="font-18">{{locationInfoWithRank.city}}, {{locationInfoWithRank.state}}</div>
    <div class="font-12">{{genderAbbreviated}} | {{raceAge}}</div>

    <div class="mt-1">
      <span class="font-24 badge text-bg-dark" title="bib">{{bib}}</span>
    </div>

    <hr />
    <app-location-info-rankings [locationInfoWithRank]="locationInfoWithRank" [useEventsNavigation]="false"></app-location-info-rankings>

    <hr />
    <div class="mb-1" *ngFor="let tag of tags">
      <span class="font-20 badge badge-primary primary-background">{{tag}}</span>
    </div>

    <hr />
    <div>{{firstName}}'s training</div>
    <ul class="mt-3">
      <li class="font-12" *ngFor="let training of trainingList">{{training}}</li>
    </ul>

    <hr />
    <div>{{firstName}}'s personal goal</div>
    <div class="mt-3 font-12 text-italic">"{{personalGoalDescription}}"</div>

    <hr />
    <div>{{firstName}}'s course goal</div>
    <div class="mt-3 font-12 primary-color text-italic"><strong>"{{courseGoalDescription}}"</strong></div>
  </div>

  <div class="col-lg-9">

    <div>
      <img width="120px" height="120px" [src]="raceSeriesImageUrl">
    </div>
    <div class="mt-4 font-24 font-weight-bold">{{raceName}}</div>
    <div class="font-18 primary-color font-weight-bold">{{courseName}}</div>
    <div class="font-14">
      <div>{{raceSeriesCity}}, {{raceSeriesState}}</div>
      <div>Distance: {{courseDistance}}</div>
      <div>{{courseDate}} at <strong>{{courseTime}}</strong></div>
    </div>
    <div class="font-12 font-italic font-weight-bold">- "{{raceSeriesDescription}}"</div>

    <div class="mt-4">
      <a class="btn btn btn-outline-primary" [routerLink]="[CourseLeaderboardPage, courseId]" role="button">Course Leaderboard</a>
    </div>

    <hr />
    <ng-container *ngTemplateOutlet="finish"></ng-container>
    <hr />
    <ng-container *ngTemplateOutlet="competetorsContainer"></ng-container>
    <hr />
    <ng-container *ngTemplateOutlet="brackets"></ng-container>
    <hr />
    <ng-container *ngTemplateOutlet="intervals"></ng-container>

  </div>
</div>

<ng-template #finish>

  <div class="font-20 font-weight-bold">Finish Info</div>

  <div class="my-5 row">
    <div class="col col-4">
      <div>Time</div>
      <div class="font-24 font-weight-bold">{{paceWithTimeCumulative.timeFormatted}}</div>
      <div class="mt-2 font-12">Fastest: {{courseStatistics.fastestPaceWithTime.timeFormatted}}</div>
      <div class="font-12">Average: {{courseStatistics.averagePaceWithTime.timeFormatted}}</div>
      <div class="font-12">Slowest: {{courseStatistics.slowestPaceWithTime.timeFormatted}}</div>
    </div>
    <div class="col col-4">
      <div>Pace ({{paceWithTimeCumulative.paceLabel}})</div>
      <div class="font-24 font-weight-bold">
        {{paceWithTimeCumulative.paceValue || '--'}}
      </div>
      <div class="mt-2 font-12">Fastest: {{courseStatistics.fastestPaceWithTime.paceValue}}</div>
      <div class="font-12">Average: {{courseStatistics.averagePaceWithTime.paceValue}}</div>
      <div class="font-12">Slowest: {{courseStatistics.slowestPaceWithTime.paceValue}}</div>
    </div>
    <div class="col col-4">
      <div>Finish Time ({{timeZoneAbbreviated}})</div>
      <div class="font-24 font-weight-bold">
        {{finishTime ? finishTime : '--' }}
      </div>
    </div>
  </div>

</ng-template>

<ng-template #competetors let-competetors="competetors" let-isFaster="isFaster">
  <tr *ngFor="let irp of competetors">
    <td>
      @if (isFaster) {
        <i style="color: green;" class="fa fa-flag-checkered "></i><span class="ms-1" style="font-size: 10px;">(Faster)</span>
      } @else {
        <i style="color: red;" class="fa fa-flag-checkered "></i><span class="ms-1" style="font-size: 10px;">(Slower)</span>
      }
    </td>
    <td>
      <a title="view result" [routerLink]="[IndividualResultPage, irp.athleteCourseId]">
        View
      </a>
    </td>
    <td>
      <span class="font-24 badge text-bg-dark" title="bib">{{irp.bib}}</span>
    </td>
    <td>
      <div>
        <a class="font-weight-bold" title="view profile for {{irp.fullName}}" [routerLink]="[AthletePage, irp.athleteId]">
          {{irp.fullName}}
        </a>
      </div>
      <div>{{irp.genderAbbreviated}} | {{irp.raceAge}}</div>
    </td>
    <td class="font-24 font-weight-bold">{{irp.paceWithTimeCumulative.timeFormatted}}</td>
    <td>
      <div class="font-24 font-weight-bold">{{irp.paceWithTimeCumulative.paceValue || '--'}}</div>
      {{irp.paceWithTimeCumulative.paceLabel}}
    </td>
  </tr>
</ng-template>

<ng-template #competetorsContainer>

  <div class="font-20 font-weight-bold">Competetors</div>
  <div class="font-12">* Shows up to 3 athletes that are slower or faster.</div>

  <div *ngIf="competetorsForIrpDto">
    <table class="my-5 table">
      <thead>
        <tr>
          <th style="width: 10%"></th>
          <th style="width: 10%"></th>
          <th style="width: 15%">Bib</th>
          <th style="width: 40%">Name</th>
          <th style="width: 15%">Time</th>
          <th style="width: 10%">Pace</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngTemplateOutlet="competetors;context:{competetors: competetorsForIrpDto.fasterAthletes, isFaster: false}"></ng-container>
        <ng-container *ngTemplateOutlet="competetors;context:{competetors: competetorsForIrpDto.slowerAthletes, isFaster: true}"></ng-container>
      </tbody>
    </table>
  </div>

</ng-template>

<ng-template #brackets>

  <div class="font-20 font-weight-bold">Brackets</div>
  <div class="font-12">* Displays ranking for the highest split completed</div>

  <div class="my-5 row">
    <div *ngFor="let bracket of bracketResults" class="col-3">

      <div class="text-truncate" [title]="bracket.name">{{bracket.name}}</div>
      <div class="mt-1 font-24 font-weight-bold primary-color">
        {{bracket.rank}} of {{bracket.totalRacers}}
      </div>
      <div class="font-weight-bold">{{bracket.percentile}}</div>

      <div class="mt-2 font-12">Fastest: {{bracket.fastestPaceWithTime.timeFormatted}}</div>
      <div class="font-12">Average: {{bracket.averagePaceWithTime.timeFormatted}}</div>
      <div class="font-12">Slowest: {{bracket.slowestPaceWithTime.timeFormatted}}</div>
    </div>
  </div>

</ng-template>

<ng-template #intervals>

  <div class="font-20 font-weight-bold">Intervals</div>
  <div class="font-12">* Shows all intervals even if they have not been completed</div>

  <div class="mt-5 font-12 font-weight-bold">Course Tracker</div>
  <div class="border-bottom border-top py-2">
    <div class="flex">
      <div class="flex-item" *ngFor="let interval of intervalResults">
        <div *ngIf="!interval.isFullCourse" class="pizzaTrackerDashedLine"></div>
        <app-irp-pizza-tracker [interval]="interval"></app-irp-pizza-tracker>
      </div>
    </div>
  </div>

  <table class="my-5 table">
    <thead>
      <tr>
        <th style="width: 15%" scope="col"></th> <!-- name -->
        <th style="width: 20%" scope="col">Time <span class="font-12">({{timeZoneAbbreviated}})</span></th>
        <th style="width: 10%" scope="col">Overall</th>
        <th style="width: 10%" scope="col">Gender</th>
        <th style="width: 10%" scope="col">Division</th>
        <th style="width: 15%" scope="col">Interval Time</th>
        <th style="width: 20%" scope="col">Cumulative Time</th>
      </tr>
    </thead>
    <tbody>
      @for (intervalResult of intervalResults; track intervalResult) {
        <tr app-irp-interval-result [irpResultByInterval]="intervalResult"></tr>
      }
    </tbody>
  </table>

</ng-template>
